#stillForest{
	position: fixed;
	bottom: 0;
	right: 0;
	min-width: 100%;
	min-height: 100%;
	z-index: -1;
}
.welcomeScreen{
	background: black;
}
.spooky{
	margin-top: 15%;
	font-family: 'Finger Paint', cursive;
	font-size: 50px;
	color:white;
	text-shadow: 4px 4px rgb(255, 0, 0);
	text-align: center;
	position: relative;
}
